body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }

.top-header {
  padding: 15px 0;
  background-color: #8200FF; }
  @media only screen and (max-width: 992px) {
    .top-header .lang, .top-header .phone {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      margin-bottom: 20px; }
    .top-header .book {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      text-align: center; } }
  @media only screen and (max-width: 576px) {
    .top-header .lang, .top-header .phone {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .top-header .phone {
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important; }
      .top-header .phone p {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .top-header .lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .top-header .lang .ru, .top-header .lang .uz {
      color: #ffffff;
      font-size: 20px;
      border-bottom: 1px solid #fff;
      text-decoration: none;
      margin-right: 10px;
      padding: 0; }
    .top-header .lang .location {
      margin-bottom: 0;
      margin-left: 15px;
      color: #fff;
      font-size: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .top-header .lang .location i {
        margin-right: 8px;
        font-size: 20px;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      .top-header .lang .location a {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        color: #ffffff;
        text-decoration: none;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .top-header .lang .location a:hover + i {
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          -webkit-transform: scale(1.2);
              -ms-transform: scale(1.2);
                  transform: scale(1.2); }
  .top-header .book p {
    margin: 0; }
    .top-header .book p a {
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      color: #ffffff; }
  .top-header .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .top-header .phone p {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .top-header .phone p i {
        color: #fff;
        font-size: 20px;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        margin-right: 10px; }
      .top-header .phone p a {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        text-decoration: none;
        color: #ffffff; }
        .top-header .phone p a:hover + i {
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          -webkit-transform: scale(1.2);
              -ms-transform: scale(1.2);
                  transform: scale(1.2); }

.header-menu {
  padding: 15px 0; }
  @media only screen and (max-width: 992px) {
    .header-menu .menuForm {
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%; }
    .header-menu .signCart {
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%; }
    .header-menu .logo {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin-top: 15px; } }
  @media only screen and (max-width: 576px) {
    .header-menu {
      border-bottom: 1px solid #C2C7D0; }
      .header-menu .menuForm {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
                order: 5; }
      .header-menu .signCart {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        -webkit-box-pack: start !important;
            -ms-flex-pack: start !important;
                justify-content: flex-start !important; }
      .header-menu .logo {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        margin-bottom: 15px; } }
  .header-menu .menuForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-menu .menuForm .togNav span {
      font-size: 30px;
      margin-right: 30px;
      color: #8200FF; }
    .header-menu .menuForm .togNav img {
      cursor: pointer;
      width: 35px;
      height: 20px;
      margin-right: 40px;
      margin-left: 10px; }
    .header-menu .menuForm .form form a {
      text-decoration: none; }
    .header-menu .menuForm .form form img {
      width: 30px;
      height: 30px;
      margin-right: 10px; }
    .header-menu .menuForm .form form input {
      border: 0;
      font-size: 16px;
      color: #c2c7d0; }
  .header-menu .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header-menu .logo img {
      height: 40px;
      width: 150px; }
  .header-menu .signCart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-menu .signCart a {
      text-decoration: none; }
      .header-menu .signCart a img {
        height: 25px;
        width: 30px;
        margin-left: 20px; }

/* Navigation */
.nav {
  display: inline-block;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  border: 1px solid #C2C7D0;
  border-top: 0;
  /* sprites */ }
  @media only screen and (max-width: 576px) {
    .nav {
      border: 0;
      padding-bottom: 30px;
      padding-top: 20px; } }
  @media only screen and (max-width: 992px) {
    .nav {
      display: block;
      position: relative !important; }
      .nav .menu-item__icon {
        position: absolute;
        top: -2px; }
      .nav .menu-item:hover .item {
        background-color: #fff; }
      .nav .menu-item__link {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        height: auto !important; }
        .nav .menu-item__link-li {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-flow: column;
                  flex-flow: column; }
          .nav .menu-item__link-li span {
            position: absolute;
            bottom: 5px;
            right: 5px;
            -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                    transform: rotate(90deg); }
          .nav .menu-item__link-li .item {
            display: block;
            padding: 15px;
            padding-left: 60px; }
          .nav .menu-item__link-li .menu-item__sub {
            position: relative;
            left: 0; }
            .nav .menu-item__link-li .menu-item__sub li {
              width: auto;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex; }
              .nav .menu-item__link-li .menu-item__sub li a {
                -webkit-box-flex: 1;
                    -ms-flex: 1 1 0px;
                        flex: 1 1 0; }
                .nav .menu-item__link-li .menu-item__sub li a:hover {
                  color: #fff !important;
                  background-color: #C2C7D0; } }
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .nav .icon1 {
    background-position: 2px -4px; }
  .nav .icon2 {
    background-position: 2px -58px; }
  .nav .icon3 {
    background-position: 2px -112px; }
  .nav .icon4 {
    background-position: 2px -163px; }
  .nav .icon5 {
    background-position: 2px -216px; }
  .nav .icon6 {
    background-position: 2px -266px; }
  .nav .icon7 {
    background-position: 2px -320px; }
  .nav .icon8 {
    background-position: 2px -371px; }
  .nav .icon9 {
    background-position: 2px -426px; }
  .nav .icon10 {
    background-position: 2px -472px; }
  .nav .icon11 {
    background-position: 2px -530px; }
  .nav .icon12 {
    background-position: 2px -578px; }
  .nav .menu-item {
    position: relative;
    background-color: #EBEBEB;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav .menu-item:hover .icon1 {
      background-position: -58px -4px; }
    .nav .menu-item:hover .icon2 {
      background-position: -58px -58px; }
    .nav .menu-item:hover .icon3 {
      background-position: -58px -112px; }
    .nav .menu-item:hover .icon4 {
      background-position: -58px -163px; }
    .nav .menu-item:hover .icon5 {
      background-position: -58px -216px; }
    .nav .menu-item:hover .icon6 {
      background-position: -58px -266px; }
    .nav .menu-item:hover .icon7 {
      background-position: -58px -320px; }
    .nav .menu-item:hover .icon8 {
      background-position: -58px -371px; }
    .nav .menu-item:hover .icon9 {
      background-position: -58px -426px; }
    .nav .menu-item:hover .icon10 {
      background-position: -58px -472px; }
    .nav .menu-item:hover .icon11 {
      background-position: -58px -530px; }
    .nav .menu-item:hover .icon12 {
      background-position: -58px -578px; }
    .nav .menu-item:hover {
      background-color: #F5F5F5;
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear; }
    .nav .menu-item:hover .item {
      color: #01d7bf;
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear; }
    .nav .menu-item__icon {
      cursor: pointer;
      width: 65px;
      height: 60px;
      background-image: url(../img/menuSprite.png);
      background-repeat: no-repeat;
      background-size: 130px 630px; }
    .nav .menu-item__link {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 0px;
              flex: 1 1 0;
      width: 240px;
      display: none;
      height: 50px;
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear; }
      .nav .menu-item__link:hover .fa {
        color: #7A72BC;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear; }
      .nav .menu-item__link-li {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 0px;
                flex: 1 1 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .nav .menu-item__link-li span {
          font-size: 12px;
          padding-top: 18px;
          color: #C2C7D0;
          padding-right: 10px; }
        .nav .menu-item__link-li a {
          font-size: 16px;
          color: #8200FF;
          text-decoration: none;
          -webkit-box-flex: 1;
              -ms-flex: 1 1 0px;
                  flex: 1 1 0;
          padding-left: 15px;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        .nav .menu-item__link-li .menu-item__sub li a {
          font-size: 16px;
          width: 250px;
          color: #01d7bf;
          -webkit-box-flex: 1;
              -ms-flex: 1 1 0px;
                  flex: 1 1 0;
          height: 50px;
          background-color: #F5F5F5;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear; }
          .nav .menu-item__link-li .menu-item__sub li a:hover {
            color: #c2c7d0;
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear; }
    .nav .menu-item .linkActive {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .nav .menu-item .subActive {
      display: block; }
    .nav .menu-item__sub {
      display: none;
      position: absolute;
      top: 0;
      left: 100%; }
      .nav .menu-item__sub li {
        width: 200px; }

@media only screen and (max-width: 576px) {
  .sliderActive {
    background-color: #fff !important; } }

.slider {
  background-color: #71B5EE; }
  @media only screen and (max-width: 576px) {
    .slider {
      background-color: #EBEBEB; } }
  .slider .container {
    position: relative; }
    .slider .container .nav {
      position: absolute;
      top: 0;
      left: 12px;
      z-index: 100; }
    .slider .container .slide {
      padding: 20px 0; }
      @media only screen and (max-width: 576px) {
        .slider .container .slide {
          display: none; } }
      .slider .container .slide .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%; }
        .slider .container .slide .carousel-indicators li:hover {
          opacity: 1; }
      .slider .container .slide .carousel-img {
        width: 100%; }
      .slider .container .slide .active {
        background-color: #8200FF; }
      .slider .container .slide .carousel-caption {
        left: 10%;
        top: 5%; }
        @media only screen and (max-width: 992px) {
          .slider .container .slide .carousel-caption h1 {
            font-size: 25px !important; }
          .slider .container .slide .carousel-caption p {
            font-size: 25px !important; }
          .slider .container .slide .carousel-caption a {
            font-size: 14px !important;
            padding: 10px 25px !important; } }
        .slider .container .slide .carousel-caption h1 {
          font-size: 55px;
          font-weight: bold;
          text-align: left; }
        .slider .container .slide .carousel-caption p {
          text-align: left;
          margin: 0;
          font-size: 35px;
          font-weight: 300; }
        .slider .container .slide .carousel-caption h4 {
          text-align: left;
          margin-top: 25px; }
          .slider .container .slide .carousel-caption h4 a {
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            display: inline-block;
            padding: 10px 35px;
            font-weight: 300;
            font-size: 18px;
            border-radius: 25px;
            border: 1px solid #fff;
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear; }
            .slider .container .slide .carousel-caption h4 a:hover {
              border-color: #8200FF;
              -webkit-transition: all .3s linear;
              -o-transition: all .3s linear;
              transition: all .3s linear;
              color: #8200FF; }

.features {
  margin-bottom: 40px; }
  .features .container {
    padding-left: 100px; }
    @media only screen and (max-width: 992px) {
      .features .container {
        padding: 0 15px; } }
    .features .container .col-lg-4 {
      padding-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear; }
      .features .container .col-lg-4:hover .bargin {
        background-color: #8200FF; }
      .features .container .col-lg-4:hover .bargin1 {
        background-color: #FFCA00; }
      .features .container .col-lg-4:hover .bargin2 {
        background-color: #01d7bf; }
      .features .container .col-lg-4 span {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
        border-radius: 50%;
        background-size: 460px 90px;
        background-image: url(../img/sprite22.png);
        background-repeat: no-repeat;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        background-color: #01d7bf; }
      .features .container .col-lg-4 .bargin {
        background-position: 7px -27px; }
      .features .container .col-lg-4 .bargin1 {
        background-position: -55px -27px;
        background-color: #8200FF; }
      .features .container .col-lg-4 .bargin2 {
        background-position: -115px -27px;
        background-color: #FFCA00; }
      .features .container .col-lg-4 h1 a {
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        color: #01d7bf;
        text-transform: uppercase;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear; }
        .features .container .col-lg-4 h1 a:hover {
          color: #8200FF;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear; }
      .features .container .col-lg-4 p {
        margin: 0;
        font-size: 12px;
        color: #3f3f3f; }

/* fixH */
.fixH {
  height: 721px;
  border-bottom: 1px solid rgba(194, 199, 208, 0); }
  @media only screen and (max-width: 992px) {
    .fixH {
      border-bottom: 0 !important;
      height: auto !important; } }

/* prContent */
.prContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media only screen and (max-width: 992px) {
    .prContent {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-left: 0; }
      .prContent .pr {
        -ms-flex-preferred-size: 50% !important;
            flex-basis: 50% !important; } }
  @media only screen and (max-width: 576px) {
    .prContent .pr {
      -ms-flex-preferred-size: 100% !important;
          flex-basis: 100% !important;
      padding: 0 20px !important; } }
  .prContent .pr {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding: 5px 10px 15px 10px;
    margin-bottom: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .prContent .pr-img {
      margin-bottom: 25px; }
      .prContent .pr-img img {
        width: 100%; }
    .prContent .pr-desc p {
      font-size: 16px;
      color: #444444;
      margin: 0;
      padding: 0; }
    .prContent .pr-desc h5 {
      margin: 0;
      padding: 0;
      font-size: 10px;
      margin-bottom: 10px; }
    .prContent .pr-price .price {
      font-size: 18px;
      color: rgba(68, 68, 68, 0.3);
      text-decoration: line-through;
      padding-left: 60px;
      margin: 0; }
    .prContent .pr-price .discount {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 10px; }
      .prContent .pr-price .discount a {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #01d7bf;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        -webkit-transition: all .4s linear;
        -o-transition: all .4s linear;
        transition: all .4s linear; }
        .prContent .pr-price .discount a:hover + span {
          -webkit-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transition: all .4s linear;
          -o-transition: all .4s linear;
          transition: all .4s linear; }
        .prContent .pr-price .discount a:hover {
          color: #8200FF;
          -webkit-transition: all .4s linear;
          -o-transition: all .4s linear;
          transition: all .4s linear; }
      .prContent .pr-price .discount span {
        -webkit-transition: all .4s linear;
        -o-transition: all .4s linear;
        transition: all .4s linear;
        width: 30px;
        height: 30px;
        background-image: url(../img/discount.png);
        background-repeat: no-repeat;
        background-size: 30px 30px;
        margin-right: 30px; }
    .prContent .pr-order form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .prContent .pr-order form input {
        border: 1px solid #C2C7D0;
        border-radius: 30px;
        padding: 2px;
        width: 80px;
        padding-left: 10px; }
      .prContent .pr-order form span {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-image: url(../img/sprite22.png);
        background-repeat: no-repeat;
        background-size: 190px 30px;
        margin-left: 10px;
        cursor: pointer;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear; }
      .prContent .pr-order form .plus {
        background-color: #8200FF;
        background-position: -98px -4px;
        margin-left: -25px; }
      .prContent .pr-order form .like {
        background-color: #C2C7D0;
        background-position: -73px -9px;
        background-size: 190px 40px; }

/* section-title */
.section-title {
  padding-left: 100px; }
  @media only screen and (max-width: 992px) {
    .section-title {
      padding: 0; } }
  @media only screen and (max-width: 576px) {
    .section-title {
      padding: 0 20px; }
      .section-title h1 {
        font-size: 20px !important; }
      .section-title a {
        font-size: 14px !important; } }
  .section-title h1 {
    color: #f54d87;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    font-size: 30px; }
  .section-title a {
    color: #8200FF;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    border-bottom: 1px solid transparent;
    font-size: 18px; }
    .section-title a:hover {
      border-bottom: 1px solid #8200FF;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }

.section {
  padding: 40px 0; }

/* pre-footer */
.pre-footer {
  border-top: 1px solid #C2C7D0;
  padding: 60px 0; }
  .pre-footer .container {
    padding-left: 100px; }
    @media only screen and (max-width: 992px) {
      .pre-footer .container {
        padding-left: 15px; }
        .pre-footer .container .info {
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; }
        .pre-footer .container .social {
          margin-top: 20px; } }
    @media only screen and (max-width: 576px) {
      .pre-footer .container .info {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    .pre-footer .container .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .pre-footer .container .info span {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 20px;
        background-image: url(../img/sprite22.png);
        background-repeat: no-repeat;
        background-size: 300px 60px; }
      .pre-footer .container .info .fIcon1 {
        background-position: -202px -18px;
        background-color: #f54d87; }
      .pre-footer .container .info .fIcon2 {
        background-position: -248px -18px;
        background-color: #FFC800; }
      .pre-footer .container .info ul {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 0px;
                flex: 1 1 0;
        list-style: none;
        padding: 0;
        padding-top: 10px; }
        .pre-footer .container .info ul li a {
          color: #8200FF;
          font-size: 16px;
          border-bottom: 1px solid transparent;
          text-decoration: none;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear; }
          .pre-footer .container .info ul li a:hover {
            border-color: #8200FF;
            -webkit-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear; }
    .pre-footer .container .social {
      position: relative; }
      .pre-footer .container .social h1 {
        color: #3f3f3f;
        font-weight: bold;
        font-size: 18px; }
      .pre-footer .container .social .facebook {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .pre-footer .container .social .facebook .faceB {
          padding: 2px  5px;
          font-size: 10px;
          margin-right: 5px;
          color: #fff;
          border-radius: 5px;
          background-color: #4763B3;
          text-decoration: none;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear;
          font-weight: bold; }
          .pre-footer .container .social .facebook .faceB:hover {
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
            background-color: #7c90cb; }
        .pre-footer .container .social .facebook p {
          font-size: 10px;
          margin: 0; }
      .pre-footer .container .social .otherSocial {
        margin-top: 15px; }
        .pre-footer .container .social .otherSocial a {
          padding: 2px  5px;
          font-size: 10px;
          margin-right: 10px;
          color: #3f3f3f;
          border-radius: 5px;
          background-color: #F9F9F9;
          text-decoration: none;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear;
          font-weight: bold;
          border: 1px solid rgba(194, 199, 208, 0.4); }
          .pre-footer .container .social .otherSocial a:hover {
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
            background-color: lightgray; }
          .pre-footer .container .social .otherSocial a .fa-pinterest {
            color: #f54d87; }
          .pre-footer .container .social .otherSocial a .fa-twitter {
            color: #00ACEE; }
      .pre-footer .container .social .up {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        top: 0;
        right: 0;
        z-index: 10; }
        @media only screen and (max-width: 992px) {
          .pre-footer .container .social .up {
            right: 10%;
            top: 10px; } }
        @media only screen and (max-width: 360px) {
          .pre-footer .container .social .up {
            display: none; } }
        .pre-footer .container .social .up-img {
          width: 40px;
          height: 40px;
          background-image: url(../img/up.png);
          background-repeat: no-repeat;
          margin-bottom: 10px;
          background-size: 40px 40px;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear; }
          .pre-footer .container .social .up-img:hover {
            opacity: .5;
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear; }
        .pre-footer .container .social .up-text {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2;
          text-decoration: none;
          color: #8200FF;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear;
          font-size: 16px; }
          .pre-footer .container .social .up-text:hover + .up-img {
            -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                    transform: scale(1.1); }
          .pre-footer .container .social .up-text:hover {
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
            color: #3f3f3f; }

/* footer */
.footer {
  background-color: #333333;
  padding: 30px 0; }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 576px) {
      .footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column; }
        .footer .container .payment a {
          margin-left: 10px !important; } }
    .footer .container .olimp h1 {
      margin: 0; }
      .footer .container .olimp h1 a {
        text-decoration: none;
        font-size: 24px;
        color: #707070;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear; }
        .footer .container .olimp h1 a:hover {
          color: #fff;
          -webkit-transition: all .3s linear;
          -o-transition: all .3s linear;
          transition: all .3s linear; }
    .footer .container .olimp p {
      font-weight: 300;
      font-size: 12px;
      color: #707070; }
    .footer .container .payment {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .container .payment a {
        text-decoration: none;
        margin-left: 35px; }

.test {
  outline: 1px solid red; }
